@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

@value black: #23272A;
@value dark: #2C2F33;
@value greyple: #99AAB5;
@value white: #FFFFFF;
@value notsowhite: rgba(255,255,255,0.4);
@value blurple: #7289DA;
@value blurple-hover: #697ec4;

html, body{
    min-height: 100vh;
    margin: 0;
    background: black;
    font-family: 'Lato', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}

.block__header {
    padding: 24px;
    border-radius: 5px 5px 0 0;
    background: blurple;
    color: notsowhite;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    box-sizing: border-box;
}

.block__body {
    padding: 30px;
    background: dark;
    border-radius: 0 0 5px 5px;
}

.block__footer {
    margin-top: 10px;
    font-size: 12px;
    color: notsowhite;
}

.login_button {
    text-decoration: none;
    display: block;
    line-height: 35px;
    padding: 0 21px;
    background: blurple;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.login_button:hover {
    background: blurple-hover;
}

.success {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
}

.success__header {
    color: notsowhite;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
}

.success__data {
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 10px;
}